<div class="form-group">

    <label>Reason</label>

    <select name="reason" required>

        <option value="">Select reason</option>

        <option value="Home Consumption">
            🍳 Home Consumption
        </option>

        <option value="Broken Eggs">
            💥 Broken Eggs
        </option>

        <option value="Hatching">
            🐣 Hatching
        </option>

        <option value="Donation">
            🎁 Donation
        </option>

        <option value="Spoiled Eggs">
            ⚠️ Spoiled Eggs
        </option>

        <option value="Other">
            📦 Other
        </option>

    </select>

</div>