 <section class="section">

            <h2>Egg Inventory</h2>

            <div class="cards">

                <article class="card">
                    <span>Collected</span>
                    <strong>{{ total_eggs }}</strong>
                </article>

                <article class="card">
                    <span>Individual Sales</span>
                    <strong>{{ individual_eggs_sold }}</strong>
                </article>

                <article class="card">
                    <span>Crate Sales</span>
                    <strong>{{ crate_eggs_sold }}</strong>
                </article>

                <article class="card">
                    <span>In Stock</span>
                    <strong>{{ eggs_in_stock }}</strong>
                </article>

            </div>

        </section>